<div class="content">
    <div *ngIf="movie" class="movie_top">
        <div class="col-md-9 movie_box">
            <div class="grid images_3_of_2">
                <div class="movie_image">
                    <span class="movie_rating">{{rate}}</span>
                    <img src="images/{{movie.path}}" class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="desc1 span_3_of_2">
                <h1>{{movie.title}}</h1>
                <br><br>
                <p class="movie_option"><strong>Language: </strong>{{movie.language}}</p>
                <p class="movie_option" *ngIf="movie.duration"><strong>Duration: </strong>{{movie.duration}} h</p>
                <p class="m_4">{{movie.description}}</p>
            </div>
            <div class="clearfix"> </div>
            <div class="single">
                <div *ngIf="loginInfo.isLoggedIn">
                    <h1>Add Comment</h1>
                    <form (submit)="addComment(message.value, movie.id, loginInfo.userId)">
                        <div class="text">
                            <textarea title="Message" #message placeholder="Message:"></textarea>
                        </div>
                        <div class="form-submit1">
                            <input type="submit" id="submit" value="Submit Your Message"><br>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div *ngIf="submitted">
                    <h1>Comments</h1>
                    <ul class="single_list">
                        <li *ngFor="#comment of comments">
                            <div class="data">
                                <div class="title">{{comment.username}}</div>
                                <p>{{comment.message}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3" *ngIf="loginInfo.isLoggedIn">
            <div class="movie_rate">
                <div class="rating_desc"><p>Your Vote :</p></div>
                <form *ngIf="!rating" (submit)="addRate(model.Rate, movie.id, loginInfo.userId)" class="sky-form">
                    <fieldset>
                        <section>
                            <div class="rating">
                                <input type="radio" value="5" #r5 name="Rate" (change)="setRate(r5)" id="stars-rating-5">
                                <label for="stars-rating-5" ><i class="icon-star"></i></label>
                                <input type="radio" value="4"  #r4 name="Rate" (change)="setRate(r4)" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="icon-star"></i></label>
                                <input type="radio" value="3"  #r3 name="Rate" (change)="setRate(r3)" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="icon-star"></i></label>
                                <input type="radio" value="2" #r2 name="Rate" (change)="setRate(r2)" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="icon-star"></i></label>
                                <input type="radio" value="1" #r1 name="Rate" (change)="setRate(r1)" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="icon-star"></i></label>
                            </div>
                        </section>
                    </fieldset>
                    <section class="text-right">
                        <input name="submit" type="submit" id="rate" value="Rate" class="text-right">
                    </section>
                </form>
                <div *ngIf="rating" class="sky-form selected">
                    <label *ngFor="#rate of rates"><i class="fa fa-star" style="color:#d8232a;font-size: 1.2em;margin-top:3px;margin-left:5px" aria-hidden="true"></i></label>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
