<div class="container">
    <div class="container_wrap">
        <div class="header_top">
            <div class="col-sm-3 logo"><a href="./"><img src="images/logo.png" alt="" /></a></div>
            <div class="col-sm-6 nav">
                <ul>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movie"><a href="/#/category/movie"> </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="game"><a href="/#/category/game"> </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv series"><a href="/#/category/tv"> </a></span></li>
                </ul>
            </div>
            <div class="col-sm-3 header_right">
                <div *ngIf="loginInfo.isLoggedIn" class="text-right dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="name hidden-sm hidden-xs">{{ loginInfo.userName }}</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="signout" (click)="logout()">Log Out</a></li>
                    </ul>
                </div>
                <div *ngIf="!loginInfo.isLoggedIn" class="text-right">
                    <a class="btn btn-default" (click)="goToLogin()">
                        Log in
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <router-outlet></router-outlet>
        <footer id="footer">
            <div id="footer-3d">
                <div class="gp-container">
                    <span class="first-widget-bend"></span>
                </div>
            </div>
            <div id="footer-widgets" class="gp-footer-larger-first-col">
                <div class="gp-container">
                    <div class="footer-widget footer-1">
                        <br><br><br>
                        <div class="wpb_wrapper">
                            <img src="images/f_logo.png" alt="" />
                        </div>
                        <br><br><br>
                    </div>
                    <div class="footer_box">
                        <div class="col_1_of_3 span_1_of_3 col-sm-3">
                            <h3>Categories</h3>
                            <ul class="first">
                                <li><a href="/#/category/movie">Movie</a></li>
                                <li><a href="/#/category/game">Game</a></li>
                                <li><a href="/#/category/tv">TV series</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3 col-sm-3" *ngIf="loginInfo.isLoggedIn">
                            <h3>New</h3>
                            <ul class="first">
                                <li><a href="/#/add/movie">Add Movie</a></li>
                                <li><a href="/#/add/tv">Add TV series</a></li>
                                <li><a href="/#/add/game">Add Game</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </footer>
    </div>
</div>