<div class="content">
    <h2 class="m_3">Now in the {{name}}</h2>
        <div class="movie_top">
            <div class="col-md-12 movie_box">
                <div class="movie movie-test movie-test-dark movie-test-left" *ngFor="#movie of movies">
                    <div class="movie__images">
                        <a href="/#/movie/{{movie.id}}" class="movie-beta__link">
                            <img alt="" src="images/{{movie.path}}" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <div class="movie__info">
                        <a href="/#/movie/{{movie.id}}" class="movie__title">{{movie.title}}  </a>
                        <p class="movie__time" *ngIf="movie.duration">{{movie.duration}} h</p>
                        <p>{{movie.description}}</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
</div>