<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li><img src="images/banner.jpg" class="img-responsive" alt=""/>
                <div class="button">
                    <a href="/#/movie/13" class="hvr-shutter-out-horizontal">Rate Now</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="box_1">
        <h1 class="m_2">Featurd Movies</h1>
        <div class="clearfix"> </div>
    </div>
    <div class="row">
        <div class="grid_2 col-sm-3" *ngFor="#movie of movies">
            <a href="/#/movie/{{movie.id}}"><img src="images/{{movie.path}}" class="img-responsive" alt=""/></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="box_1">
        <h1 class="m_2">TV series</h1>
        <div class="clearfix"> </div>
    </div>
    <div class="row">
        <div class="grid_2 col-sm-3" *ngFor="#tv of tvs">
            <a href="/#/movie/{{tv.id}}"><img src="images/{{tv.path}}" class="img-responsive" alt=""/></a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>