<div class="content">
    <h2 class="m_3">Add new item</h2>
    <form (submit)="addMovie(title.value, description.value, duration.value, path.value)">

        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" #title placeholder="Title">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <textarea class="form-control" #description placeholder="Description"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" #duration type="text" placeholder="Duration">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" #path type="text" placeholder="Path">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" id="submit" class="btn btn-default" value="Add">
            </div>
        </div>
    </form>
</div>