<div class="content">
    <div class="register">
        <form>
            <div class="register-top-grid">
                <h3>Personal Information</h3>
                <div>
                    <span>Email Address<label>*</label></span>
                    <input type="text">
                </div>
                <div class="clearfix"> </div>
            </div>
            <br><br>
            <div class="register-bottom-grid">
                <div>
                    <span>Password<label>*</label></span>
                    <input type="text">
                </div>
                <div class="clearfix"> </div>
            </div>
        </form>
        <div class="clearfix"> </div>
        <div class="register-but">
            <form>
                <input type="submit" value="submit">
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>