.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    width: 100%;

    .container {
        height: 350px;
        width: 400px;
        background-color: whitesmoke;
        -webkit-box-shadow: 0px 0px 14px -2px rgba(184,194,184,1);
        -moz-box-shadow: 0px 0px 14px -2px rgba(184,194,184,1);
        box-shadow: 0px 0px 14px -2px rgba(184,194,184,1);

        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .alert {
            width: 100%;
            text-align: center;
        }

        label {
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        form {
            width: 100%;

            .form-group {
                width: 100%;
            }

            .login-button {
                width: 100%;
                height: 50px;
            }
        }

    }
}
