<div class="content">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New Customers</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="/#/register">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered Customers</h3>
            <p>If you have an account with us, please log in.</p>
            <form (submit)="login(username.value, password.value)">
                <div>
                    <span>Username<label>*</label></span>
                    <input type="text" #username title="username">
                </div>
                <div>
                    <span>Password<label>*</label></span>
                    <input type="text" #password title="password">
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>